In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('nifty.csv')
print(df.head())
df.describe()

          Date      Open      High       Low     Close
0  06 Jun 2023  18600.80  18622.75  18531.60  18599.00
1  05 Jun 2023  18612.00  18640.15  18582.80  18593.85
2  02 Jun 2023  18550.85  18573.70  18478.40  18534.10
3  01 Jun 2023  18579.40  18580.30  18464.55  18487.75
4  31 May 2023  18594.20  18603.90  18483.85  18534.40

               Open          High           Low         Close
count     22.000000     22.000000     22.000000     22.000000
mean   18389.727273  18442.027273  18310.872727  18382.163636
std      157.681314    138.201206    169.250787    151.320220
min    18120.600000  18218.100000  18060.400000  18129.950000
25%    18289.325000  18335.962500  18196.512500  18285.675000
50%    18348.550000  18406.175000  18267.375000  18318.125000
75%    18572.262500  18578.650000  18474.937500  18525.412500
max    18619.150000  18662.450000  18582.800000  18633.850000