In [2]:
import pandas as pd

In [21]:
df1 = pd.DataFrame([[12, 2, 22], [16, 3, 45], [19, 7,34]], [1, 2, 3], ['A', 'B', 'C'])
df1

    A  B   C
1  12  2  22
2  16  3  45
3  19  7  34

In [24]:
df2 = pd.DataFrame([[2, 2, 21], [34, 3, 53], [32, 7, 22]] , [1, 2, 3], ['X', 'Y', 'Z'])
df2

    X  Y   Z
1   2  2  21
2  34  3  53
3  32  7  22

In [26]:
df3 = pd.merge(df1, df2, right_on='Y', left_on='B')
df3

    A  B   C   X  Y   Z
0  12  2  22   2  2  21
1  16  3  45  34  3  53
2  19  7  34  32  7  22