In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[10, 20, 30, 40], [100, 200, 300, 400], [1000, 2000, 3000, 4000], [10000, 20000, 30000, 40000]], ['A', 'B', 'C', 'D'], [1, 2, 3, 4])
df

       1      2      3      4
A     10     20     30     40
B    100    200    300    400
C   1000   2000   3000   4000
D  10000  20000  30000  40000

In [3]:
df.to_csv('From_pt8.csv')