# Pandas

It is a package used to read and write csv,json etc files

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()

In [3]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
df_1 = pd.DataFrame([['name', 'date', 'month', 'year'], ['Samarth', '8', '11', '2007'], ['Rahul', '2', '6', '2006'], ['rakesh', '3', '8', '2015']])
print(df_1)

         0     1      2     3
0     name  date  month  year
1  Samarth     8     11  2007
2    Rahul     2      6  2006
3   rakesh     3      8  2015

In [5]:
print(df_1.head(2))

         0     1      2     3
0     name  date  month  year
1  Samarth     8     11  2007

In [6]:
print(df_1.tail(2))

        0  1  2     3
2   Rahul  2  6  2006
3  rakesh  3  8  2015